.test{
    color:white;
}

.style-todo{
    margin-left: 7%;
    word-wrap: break-word;
}

.style-todo-block{
    width: 10%;
    min-height: 150px;
    background: orange;
    margin: 10px;
    float:left;
    
}

.style-delete-icon{
    margin-left: 85%;
    margin-top:5%;
    cursor: pointer;
}

.todo-adder{
    margin-left: 32%;
    margin-top:2%;
}

.todo-input{
    width: 40%;
    height: 30px; 
}

.todo-add-button{
    height:36px;
    background: #38BE9A;
    color:#FCFCFC;
    border: none;
    padding-right: 1%;
    cursor: pointer;
}

.Log-out-button{
    height: 36px;
    background:#38BE9A;
    color: #FCFCFC;
    border: none;
    margin-left: 40%;
    cursor: pointer;
}

