.login-container{
    width: 30%;
    height: 300px;
    background-color:#FCFCFC;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .header{
    font-size: 29px;
    font-family: sans-serif;
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  
  .input-box{
    width: 80%;
    margin-left: 10%;
    border-radius: 5%;
    height: 40px;
    margin-bottom: 5%;
  
  }
  
  ::-webkit-input-placeholder {
    font-size: 15px;
  }
  
  .login-button{
      height: 45px;
      width: 80%;
      margin-left: 10%;
      background-color: #38BE9A;
      color: #FCFCFC
  }
  
  .incorrect-password-text{
    margin-left: 10%;
    color: red;
  }
  